/* ----------------Page Layout----------------------- */
/* ----------------Page Layout----------------------- */
/* ----------------Page Layout----------------------- */
* {margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Georgia, 'Times New Roman', Times, serif;}

body{
    background-color: rgba(108, 146, 134, 0.907) !important;
    max-height: 100%;
    max-width: 100%;
    margin: 13vh 3vh;
    /* border: 2px solid; */
    
}
/* ----------------Page Layout----------------------- */
/* ----------------Page Layout----------------------- */
/* ----------------Page Layout----------------------- */
.header {position: fixed;top: 0;width: 100%;left: 0;
padding: 20px 10%;
background: rgba(59, 99, 87, 0.915);
display: flex;
justify-content:space-between;
align-items: center;
z-index: 100;}

.header a:hover {color: rgba(145, 218, 19, 0.85);
    transform:scale(1.2) ;}

.logo {
    font-size: 50px;
color: rgb(27, 16, 57);font-weight: 850;
text-decoration: none;
margin-left: 4%;
transition: .4s;
}

.navbar a {font-size: 34px;
    color: rgba(7, 11, 11, 0.605);
    font-weight: 600;
    text-decoration: none; 
    margin-left: 41px;
    transition: .9s;
}
    
.navbar nav:hover {color: aquamarine;
        transform:scale(1.1) ;
        transition: .1s;}

/* ----------------Home Page Styling----------------------- */

.hometext {display: flex;
flex-flow: wrap;
justify-content: flex-start;
margin: 100px 0px;
/* border: 1px solid; */
height: 500px;
gap: 2px;
flex-shrink: 1;
padding-top: 50px;

}

.main {
display: flex;
gap: 20px;
/* border: 1px solid; */
margin-left: 65px;
}

/* .main > * {flex-basis: 100%;} */
/* ----------------Home Page Styling----------------------- */

/* ---------My Profile image------- */
.profile { width: fit-content;
border: 15px solid;
height: 491px;
border-color: rgba(61, 64, 57, 0.824);
border-radius: 20px;}

.personality { 
    display:flex;
    gap: 85px;
    flex-direction: column;
    font-size: 35px;
    /* border: 3px solid; */
    height: 500px;
    justify-content: center;
}

.personality1 {
    border: 1px solid rgba(79, 119, 11, 0.706);
    background: rgba(79, 119, 11, 0.706);
    padding-right: 100px;
    border-radius: 10px;
    min-width: 300px;
   
}
.personality2 {
    border: 1px;
    background: rgba(79, 119, 11, 0.706);
    padding-right: 90px;
    border-radius: 10px;
    width: 300px;
}
.personality3 {
    border: 1px;
    background: rgba(79, 119, 11, 0.706);
    padding-right: 90px;
    border-radius: 10px;
    width: 300px;
     
}

.quote {
border: 5px solid black;
background-color: rgba(239, 234, 234, 0.698);
text-align: justify;
font-size: 32px;
padding-left: 22px;
padding-top: 22px;
padding-bottom: 22px;
padding-right: 22px;
border-radius: 10px;
max-width: 470px;
/* flex-basis: 300px; */
height: auto;
margin: 55px;
}

.home-content{
    background: rgba(75, 52, 99, 0.359);
    /* border: 1px solid; */
      padding-left: 50px;
      padding-right: 10px;
      border-radius: 10px;
      padding-top: 10px;
      padding-bottom: 15px;
      max-width: 720px;
      margin-top: 41px;
    }
    .home-content h1 {font-size: 45px; line-height: 1.6;
    }
    
    .home-content h3 {color: rgb(95, 56, 34); 
         font-size: 25px;
         line-height: 1.6;}
    
    .home-content p{font-size: 21px;
        line-height: 1.9;
    }
    /* ----------------Home Page Styling----------------------- */

/* About Page Start */
/* About Page Start */
/* About Page Start */
/* About Page Start */

.grid {display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 1px solid; */
    padding-top: 100px;
    gap: 35px;
    font-size: 24px;
    margin: -50px 60px;
    }

.grid >* {border-radius: 20px;}
.Title { font-size: 30px;
background-color: azure;
text-align: center;
padding: 50px;
background-color: rgba(213, 180, 149, 0.553);

}
.Title2 {text-align: center;
    background-color: rgba(213, 180, 149, 0.553);
    
}


.about1 {background-color: azure;
line-height: 45px;
padding: 25px;
background-color: rgba(239, 234, 234, 0.698);}

.about2 {background-color: azure;
    line-height: 45px;
    padding: 25px;
    background-color: rgba(239, 234, 234, 0.698);
}

.player {aspect-ratio: 16 /9;
width: 70%;
border: 8px rgb(59, 71, 81);
border-radius: 23px;
margin: 150px 200px;


display: block;
}




/* About Page End */
/* About Page End */
/* About Page End */
/* About Page End */

h2 {
    font-size: 50px;
    text-align: center;
border: 1px;
padding: 200px 200px;
margin: 16%;
background-color: rgba(205, 202, 202, 0.33);
width: auto;
border: 2px solid;
justify-content: center;
align-items: center;
border-radius: 25px;}

#background {background-image: url(pexels-johannes-plenio-2957860.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
/* 
align-items: center;
justify-content: center; */
}


/* ------------------------Contact Page Start---------------------- */
/* ------------------------Contact Page Start---------------------- */
/* ------------------------Contact Page Start---------------------- */
/* ------------------------Contact Page Start---------------------- */
.contact {display: grid;
    grid-template-rows: 1fr 2fr;
font-size: larger;
/* border: 1px solid; */
gap: 50px;
margin-top: 20vh;
justify-content: center;

}

#contact1 {border: 1px solid;
    background-color:rgba(239, 234, 234, 0.698);
    font-size: 34px;
   padding: 50px;
    border-radius: 20px;
    max-width: 300px;

margin: auto;
}
.Contactme {background-color: rgba(45, 77, 109, 0.754);
width: 100%;
font-size: 30px;
margin: auto;
padding: 100px;
border-radius: 20px;
line-height: 45px;
color: rgb(233, 237, 227);}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 3px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: larger;}

  input[type=submit] {
    width: 100%;
    background-color: #143219a4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: larger;}

    input[type=submit]:hover {
        background-color: #143219;
    transform: scale(1.02);}

